@model IEnumerable<CourseListingServiceModel>

@foreach (var course in Model)
{
    var courseDuration = (int)(course.EndDate - course.StartDate).TotalDays;

    <div class="col-md-4">
        <div class="panel panel-info">
            <div class="panel-heading text-center">
                <a asp-controller="Courses" asp-action="Details" asp-route-id="@course.Id">@course.Name</a>
            </div>
            <div class="panel-body text-center">
                <!-- <img src="http://lorempixel.com/200/200/abstract?a=@Guid.NewGuid()" alt="Alternate Text" />-->
                <hr>
                <span class="small text-right text-primary">Course @(course.EndDate > DateTime.UtcNow ?  $"duration: {courseDuration} days" : "is already finished" ) .</span>
                <hr>
            </div>

        </div>
    </div>

}