@model HomeIndexViewModel
@{
    ViewData["Title"] = "Active Courses";
}

<div class="jumbotron ">
    <h1 class=" text-center">Welcome to out learning system!</h1>
</div>
<div class="row well text-center">
    <form asp-action="Search">
        <div class="col-md-7">
            <input asp-for="SearchText" class="form-control" placeholder="Search.." />
        </div>
        <div class="col-md-2 text-left">
          <input asp-for="SearchInCourses"/>
          <label asp-for="SearchInCourses"> </label>
            <br />
            <input asp-for="SearchInUser" />
            <label asp-for="SearchInUser"> </label>
        </div>
        <div class="col-md-3">
        <input type="submit" class="btn btn-block btn-warning" value="Search" />
        </div>
    </form>
</div>

<div class="row">
   @await Html.PartialAsync("_CourseListingPartial",Model.Courses)
</div>