@model CreateUserScheduleViewModel
@inject UserManager<User> UserManager

@{
    ViewData["Title"] = "Create new Schedule";
    var userName = UserManager.GetUserName(User);
}


<div class="well">
    <h2 class="text-left text-primary">@ViewData["Title"]</h2>
</div>
<div class="panel panel-danger">
    <div class="panel-heading">
        <h3 class="panel-title">Attention!</h3>
    </div>
    <div class="panel-body">Creating new schedule will change your active schedule with the new one. You can switch schedules from you  <a asp-area="" asp-controller="Users" asp-action="Profile" asp-route-username="@userName">DASHBOARD.</a> </div>
</div>
<div class="center">
    <section class="text-center">
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>

            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></div>
                    <input placeholder="Name" asp-for="Name" class="form-control" />

                </div>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <input class="btn btn-danger" type="submit" value="Create new Schedule" />
        </form>
    </section>
</div>