
@{
    Layout = "_emptyLayout";
}
@{
    ViewData["Title"] = "Home Page";
}
<div id="holder">
   

    <div class="container-full " >
        <div class="btn-group btn-group-justified paddingFromTop ">
            <a asp-area="" asp-controller="Account" asp-action="Login" class="btn btn-lg btn-block btn-success btn-whiteborder">LOGIN</a>
            <a asp-area="" asp-controller="Account" asp-action="Register" class="btn btn-primary btn-block btn-lg btn-whiteborder">REGISTER</a>
        </div>
    </div>
</div>

