@model CustomersWithSalesModel

@{
    ViewData["Title"] = "ById";
}

@{ 
    var countCars = Model.BoughtCars.Count();
}
<div class="well">
    <h2 class="text-left text-primary">Customer With Sales</h2>
</div>
<table class="table table-bordered table-hover table-striped">
    <thead>
        <tr>
            <th class="text-center">
                Name
            </th>
            <th class="text-center">
                Bought @(countCars > 1? "cars" : "car")
            </th>
            <th class="text-center">
                Total spent money
            </th>
        </tr>
    </thead>
    <tbody>
            <tr>
                <td class="text-center">
                    @Model.Name
                </td>
                <td class="text-center">
                    @Model.BoughtCars.Count()
                </td>
                <td class="text-center">
                    @Model.TotalSpentMoney.ToString("C2", CultureInfo.CreateSpecificCulture("en-US"))
                </td>
            </tr>
        
    </tbody>
</table>
