@model ForgotPasswordViewModel
@{
    ViewData["Title"] = "Forgot your password?";
    Layout = "_registerLogin";
}

<h2 class="text-center">@ViewData["Title"]</h2>
<h4 class="text-center">Enter your registration email.</h4>
<hr />
<div class="center">
    
        <form asp-action="ForgotPassword" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-addon">@@</div>
                    <input placeholder="E-mail" asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                </div >
                <button type="submit" class="btn btn-lg btn-block btn-success">Submit</button>
</form>
    </div>


@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
