body {
    padding-top: 50px;
    padding-bottom: 20px;

   
}
body.landing {
    padding-top: 50px;
    padding-bottom: 20px;
    background: url('/images/background.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: #fff;
    background-color: aliceblue;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}


.container-full {
    width: 100vw;
    position: relative;
    margin-left: -50vw;
    margin-top: 10vw;
    left: 50%;
    padding: 0 !important


}

.container-fullNoMargin {
    width: 100vw;
    position: relative;
    margin-left: -50vw;
    left: 50%;
}


.center {
   
    display: block;
    margin: 0 auto;
}

div.center {
    display: block;
    margin: 0 auto;
    padding-left: 20%;
    padding-right:20%
}


#footer {
    
    bottom: 0;
    height: 100px;
    display: block;
    margin: 0 auto;
    position: fixed;
}


#holder {
    background-size: cover;
    min-height: 100%;
    position: relative;
    margin-bottom:-30px;

   
}

.paddingBottom{
    padding-bottom:10%
}

.paddingFromTop {
    bottom: 5%;
    display: block;
    margin: 0 auto;
    position: fixed;
}
.paddingFromTopFooter {
    bottom: 0;
    position:fixed !important;
    color:#808080;
    width:100%;
    height: 30px;
    text-align:center; 
  


        
    
    
}

.btn-whiteborder {
    border: 1px solid white;
}


a.grayText {
    color: #808080 !important
}




.form-control.bigger{
    height:3em;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    font-size:1.2em
}

.input-group-addon
{
    font-size:1.3em !important;
}

div .text-danger.validation-summary-errors{
    text-align:left !important;
}
/*
td.schedule:hover {
    background-color: #0094ff !important
}
*/
.table > tbody > tr > td {
    vertical-align: middle !important
}



.flyover.in {
    left: 50%

}


.flyover-centered {
    top: 50%;
    transform: translate(-50%, -50%);
}


 .flyover-bottom {
    bottom: 10px;
}

.flyover {
    right: 0% ;
    overflow: hidden;
    position: fixed;
    width: 50%;
    opacity: 0.7;
    z-index: 1050;
    transition: left 0.6s ease-out 0s;
}
.table td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    
}

.table {
    table-layout: fixed;
}


.darker
{
    background-color:#3a3a45 !important
}

.pinker {
    background-color: #e06767 !important
}


.table.schedule > tbody > tr > td:hover {
    background-color: #0094ff;
    cursor: pointer
}

.table.schedule > tbody > tr > td.success:hover {
    background-color: #3a3a45;
    cursor: pointer;
    color:white;
}
.ui-autocomplete {
    z-index: 2147483647;
}


    .ui-autocomplete.ui-front {
        z-index: 2147483647 !important;
      
    }


div .hiddenDiv {
    display:none !important;
}


.floatright{
    float:right
}

